{% extends "base.html" %}

{% load static %}


{% block title %}Reels • Instagram{% endblock %}

{% block reels_active %}active{% endblock %}

{% block content %}

<div class="search-container">
    <h2 style="padding: 24px; font-size: 24px; font-weight: 600; margin-bottom: 0;">Explore</h2>
    {% if posts %}
    <div class="search-results">
    {% for post in posts %}
        <div class="search-result-item">
                <img src="{{ post.contentUrl.url }}" alt="Profile post">
        </div>
    {% endfor %}

    {% for reel in reels %}
        <div class="search-result-item">
                <img src="{{ reel.contentUrl.url }}" alt="Profile post">
        </div>
    {% endfor %}

    </div>
    {% endif %}
</div>
{% endblock %}