{% extends "base.html" %}
{% load static %}
{% block title %}Reels • Instagram{% endblock %}
{% block reels_active %}active{% endblock %}
{% block content %}
<div class="search-container">
    <h2 style="padding: 24px; font-size: 24px; font-weight: 600; margin-bottom: 0;">Notifications</h2>
    <div style="padding: 0 24px;">
        {% if notifications %}
            {% for noti in notifications %}
                <div class="suggestion-item" style="margin-bottom: 16px; padding: 16px; border: 1px solid #262626; border-radius: 8px;">
                    <div class="suggestion-info" style="display: flex; align-items: center; gap: 12px;">
                        {% if noti.liked_by.avatar.url %}
                        <img  src="{{noti.liked_by.avatar.url }}" style="width: 44px; height: 44px; background-color: #262626; border-radius: 100px;">
                        {% else %}
                        <div class="suggestion-avatar" style="display:flex;align-items:center;justify-content:center">{{noti.liked_by.username|upper|first }}</div>
                        {% endif %}
                        <div class="suggestion-details">
                            {% if noti.comment_like %}
                            <h5><span style="font-weight:900">{{ noti.liked_by.username }}</span> liked your comment "<span style="font-weight:900">{{ noti.comment_like.comment }}</span>" </h5>
                            <p>{{ noti.since_created }}</p>
                            {% elif noti.reply_comment_like %}
                            <h5>
                                <span style="font-weight:900">{{ noti.liked_by.username }}</span>
                                liked your reply comment "
                                <span style="font-weight:900">{{ noti.reply_comment_like.reply_comment }}</span>"
                            </h5>
                            <p>{{ noti.since_created }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if noti.comment_like.postID.contentUrl %}
                    <img src="{{noti.comment_like.postID.contentUrl.url }}" style="width: 44px; height: 44px; background-color: #262626; border-radius: 4px;">
                    {% else %}
                    <div></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
        <h1>Here are not notifications yet . . .</h1>
        {% endif %}
    </div>
</div>
{% endblock %}