{% extends "base.html" %}

{% load static %}


{% block title %}Search • Instagram{% endblock %}

{% block search_active %}active{% endblock %}

{% block content %}
<div class="search-container">
    <div class="search-header">
        <input type="text" class="search-input" placeholder="Search">
    </div>
    
    <div class="search-results">
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
        <div class="search-result-item">
            <img src="/placeholder.svg?height=200&width=200" alt="Search result">
        </div>
    </div>
</div>
{% endblock %}